


body {
    background-color: rgb(240, 253, 253);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    width: 90%;
    
}
.circle {
    background:linear-gradient(to right,pink,purple);
    width:150px;
    height: 150px;
    border-radius: 50%;
    
}

.circle:hover {
    transform: translate(100px);
    transform: rotateX(50deg);
    transition: 1s;
}
.circle:active {
    background-color: red;
}

.click {

    width: 150px;
    height: 150px;
    background:linear-gradient(to bottom,#014a4a,#f1df);
    border-radius: 20%;
    transform: rotate(-90deg);
    
}

.click:active {
    transform: translateY(-100px);
    transform: rotate(90deg);
    transform: rotatex(89deg);
    transform: scale(-2);
    transition: 2s;

}
.square {
    width: 150px;
    height: 150px;
    background:linear-gradient(to right,lightgreen,rgb(188, 148, 2));
    border-radius: 10px;
}
.square:hover {
    transform: skew(40deg);
    transform: scale(.5);
    transition: 1s;
}
