
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
  
    scrollbar-width: none;
    
    height: 100vh;
}

.list {
    background-color: rgba(162, 150, 135, 0.254);
    padding: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
    
}

.list li {
    list-style: none;
    /* margin: 20px 0; */
    padding: 20px;

    

}
.list li:hover {
    
    background-color: rgba(240, 255, 255, 0.372);
    transition: .8s;
    border-radius: 10px;
}
input[type="checkbox"] {
  width: 20px;
  accent-color: #0a0093;
  height: 20px;
  
}



.list span {
    font-size: 1.3rem;
    font-family: sans-serif;
    margin-left:5px;
    color: rgb(74, 74, 74);
}
.list input:checked + span {
    text-decoration: line-through;
}

.list li:has(input:checked) {
    background-color: #98d4fc;
    margin: 10px;
    border-radius: 8px;
}