@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300..700&display=swap');

/* font-family: "Pacifico", cursive; */
/* font-family: "Quicksand", sans-serif; */


*{
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg,#d53369,#daae51);
    background-size: 400% 400%;
    animation: gradient 5s alternate infinite;
}
blockquote h1 {
    text-align: center;
    
    font-size: 2.5rem;
    font-family: "Quicksand", sans-serif; 
    line-height: 1;
    position: relative ;
    bottom: 40px;
}

p {
    font-family: "Pacifico", cursive;
    font-size: 4rem;
    background: linear-gradient(0deg,transparent,rgba(24,24,24,24));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}

@keyframes gradient {
    
    0% {
        background-position: 0% 50%;

    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}

