

body {
    width: 100%;
    height: 100vh;
    background-image: url(./src/imagem-ceu.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    
   
}

.aviao img{
    width: 300px;
    height: 300px;
    animation: fly 3s infinite;
    position: absolute;
    margin-top: 200px;
    
    
}

@keyframes  fly  {
    0% {
        transform: translateX(0);
        
    }
    50% {
        transform: rotate(-5deg) skew(-50deg) translateX(calc(50vw - 300px));
    }

    100% {
        
        transform: rotate(5deg) skew(50deg) translateX(calc(100vw - 300px));
        
    }
}