
body {
    background-color: rgb(72, 0, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
img {
    width: 200px;
    height: 200px;
    animation:lancamento 5s infinite ;
    
}

@keyframes lancamento {
    
    0% {
        transform: translateY(5vh);
        
        
    }
    50% {
        transform: translateY(-75vh);
    }
    100% {
        transform: translateY(20vh);
    }
}