@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
font-family: "Poppins", sans-serif;
font-family: "Open Sans", sans-serif; 
font-family: "Anton", sans-serif;
font-family: "Roboto", sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}


body {
    font-family: Poppins;
    
}

:root {
    --verde-escuro: #14424b;
    --verde:#2f9364;
    --orange:#ff7c37;
    --degrade-btn: linear-gradient(#fe9611,#ff5c00);
    --color-p:#a1a1a1;
    --color-p-2:#868585;
}

header {
    width: 100%;
    
    height: 20vh;
    background-color: var(--verde-escuro);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #fff;

}
.menu-hamburger {
    display: none;
    

}

header span {
    font-size: 2rem;
    color: #fff;
    margin-left: 30px;
    font-family: Anton;
    cursor: pointer;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    margin-right: 20px;

    align-items: center;
    
    

}
nav ul li,a {
    list-style: none;
    color: #fff;
    margin: 10px;
    font-weight:600;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: var(--orange);
    transition: .8s;
    cursor: pointer;
}
.btn-linear {
    height: 50px;    
    width: 120px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Roboto;
    font-weight: 500;
    background-image: var(--degrade-btn);
}

.btn-linear:hover {
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    
    header nav ul {
        margin-right: 50px;
        
    }

     h1 {
        /* margin-left: 20px; */
        text-align: center;
        
    }

    
    
    .image {
        width: 40%;
        margin-right: 20px;
    
    }
}


@media screen and (min-width:700px) and (max-width:850px) {

    header {
        
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        /* align-items: center; */
    }
    

    .section1 {
        display: flex;
        flex-direction: column;
        
        
    }
    .container-textos h1 {
        font-size: 1rem;
        text-align: center;
    }
    .container-textos h2 {
        text-align: center;
    }
    .img {
        width: 200px;
        height: 200px;
    }


}

@media screen and (max-width:700px){
    header {
       
        height: 40vh;
    }



    nav ul  {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        margin: 5px;
    }
    nav ul .btn-linear {
        width: 100px;
        height: 40px;
        
    }
    .section1 {
        width: 100%;
        height: 1000px;
    }

    .container-textos {
        text-align: center;
        
    }
    .container-textos img {
        
        height: 40px;
    }

    .container-textos .bottom button {
        height: 40px;
        font-size: 1rem;
    }
    .image img{
        object-fit: contain;
        width: 100px;
        height: 40vh;
    } 
}







.section1 {
    background-color: var(--verde-escuro);
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.section1 .image img {
    max-width: 500px;
    
    width: 100%;
}



.container-textos {
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
}

.container-textos h1 {
    font-size: 2.5rem;
    color: #fff;

}

.container-textos h2 {
    font-size: 2rem;
    color: var(--orange);
}
.container-textos button {
    width: 120px;
    height: 60px;
    border: none;
    background-image: var(--degrade-btn);
    border-radius: 5px;
    margin: 20px;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    
    

    
}
.bottom {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
   
}
.container-textos span {
    color: #fff;
    margin-left: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.3rem;
}


.section2 {
    width: 100%;
    height: 30vh;
    background-color: var(--orange);
    color: #000;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section2 p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
}

.section2 .secao {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    
}

.section2 .secao span {
    margin: 10px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    font-weight: bolder;
}

.section3 {
    display: flex;
    background-color: #fff;
    height: 80vh;
    align-items: center;
}

.section3 .bloco{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgba(220, 220, 220, 0.171);
    width: 30%;
    margin: 10px;
    border-radius: 20px;
    
    height: 60vh;
}
.section3 img {
    width: 20%;

}

.section3 h2 {
    font-size: 1.5rem;
}
.section3 p {
    font-size: 1rem;
    text-align: center;
}

.section3 .bloco:hover {
    box-shadow: rgba(85, 90, 95, 0.2) 0px 8px 24px;
    transition: .5s;
}

.section4 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,33%);

    height: 90vh;
}

.section4 img{
    width: 90%; 
    height: 80vh; 
    border-radius: 10px;
    margin-left: 20px;
    grid-column: 1 / 2;
}


.section4 .contain {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    
}
.section4 .contain h2 {
    font-size: 2rem;

}
.section4 .contain p {
    text-align: justify;
    font-size: 1rem;

}

.contain-box {
    display: flex;
    align-items: center;
    align-self: flex-start;
    
}

.section4 .contain img {
    width: 50%;
    height: 15vh;
}

.contain-box span {
    width: 100%;
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
}

