@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Roboto", sans-serif; */
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Momo Signature", cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    height: 20vh;
    width: 100%;
    background-color: lightblue;
    border-bottom: 2px solid #005b70;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}

header h1 {
    font-family: "Momo Signature", cursive;
    text-align: center;
    font-size: 2rem;
    color: brown;
}

nav {
    justify-content: space-around;
    align-self: center;
    
}
header nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #00576a;
    font-family: 'Roboto';
    background-color: #00576a;
    border-radius: 10px;
    color: aliceblue;
    padding: .35rem;
    margin: 0 5px;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days {
    /* background-color: blue; */

   
    
    width: 90%;
    
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
    
}
.days h2 {
    font-family: 'Roboto';
    font-size: 2rem;
    margin: 10px 0;
    
}
.days img {
  
    width: 100%;
    border-radius: 20px;
    border: 2px solid saddlebrown;
    margin: 10px 0;
}

.days p {
    font-family: 'Roboto',sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: justify;
}

.linha {
    width: 100%;
    height: .1vh;
    border: 1px solid #69959f89;
}