



body {
    font-family: Arial;
    margin:0;
}
nav ul {
    margin: 0;
    padding: 0;
    
}

li a {
    text-align: center;
    text-decoration: none;
 
    font-weight: bold;
    color: #000;
}

nav li {
    background-color: lightgreen;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
}

nav, ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}

.apresentation {

    font-size: 1.2rem;
    text-align: center justify;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.skils {
    background-color: lightgreen;
    border-radius: 5px;
    border: 2px solid green;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px;




}
.skils h2{
    text-align: center;
}
.skils li {
    list-style: none;
    text-align: justify ;
    
}
.formation {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 700;
    background-color: lightblue;
    border: 2px solid blue;
    border-radius: 5px;
    margin: 10px;
    
}
.formation ul li {
    list-style: none;
}
.formation h2 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


@media  screen and (min-width:720px) {
    
    main {
        
        flex-direction: row;
        gap: 24px;
        max-width: 1200px;
        margin: 16px auto;
        
    }
    .apresentation {
        flex-basis: 500px;
    } 
    .skils,.formation {
        flex-shrink: 1;
    }
    nav ul {
        flex-direction: row;
    }
    nav ul li {
        flex:1;
    }
}