
.container{
    background-color: yellow;
    padding: 10px;
    display: grid;
    
    grid-template-columns: auto auto auto;
}

.item-1 {
    border: 1px solid black;
    background-color: rgb(208, 167, 167);
}

.item-2 {
    border: 1px solid black;
    background-color: rgb(80, 107, 131);
}
.item-3 {
    border: 1px solid black;
    background-color: rgb(83, 145, 49);
}
.item-4 {
    border: 1px solid black;
    background-color: rgb(156, 97, 79);
}
.item-5 {
    border: 1px solid black;
    background-color: rgb(171, 92, 145);
}
.item-6 {
    border: 1px solid black;
    background-color: rgb(190, 55, 62);
}
.item-7 {
    border: 1px solid black;
    background-color: tomato;
}