


.container1 {
    width: 100%;
    height: 100vh;
    background-color: lightcyan;    
    perspective: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 .box {
    width: 250px;
    text-align: center;
    height: 250px;
    background-color: rgba(182, 5, 5, 0.814);
    border-radius: 5px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box:hover {
    background-color: rgb(253, 94, 36);
    transform: rotateX(40deg);
    transition: transform 3s linear 1s, background 2s;

}
.container2 {
    width: 100%;
    height: 100vh;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container2 div {
    width: 250px;
    height: 250px;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
    animation: animacao;
    animation-duration: 8s;
    animation-delay: 2s;
    /* animation-iteration-count: 4; */
    /* animation-direction: reverse; */
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.container2 .box2:hover {
    animation-play-state: paused;
}

@keyframes animacao {
    0% {
        background-color: bisque;
        width: 200px;
        

}
    50% {
        width: 400px;
        background-color: brown;
        height: 150px;
        transition: 1s;
        
        
    }
    100% {
        width: 100%;
        height: 100vh;
        transition: 0.5s;
    }
    

}
