
@import url(./reset.css);


h1,h2,h3 {
    font-size: 3rem;
    font-family: var(--font-black);
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 40px;
}

p {
    color: var(--highlight-color);  
}

p,input,label,textarea {
    font-family: var(--font-texto);
}

button {
    padding: 1rem 2rem;
    font-family: var(--font-black);
    text-transform: uppercase;
    color: var(--primary-color);
    background-color: transparent;
    letter-spacing: 3px;
    transition: background 1s;
    cursor: pointer;
}

body {
    background-color: var(--header-background-color);
}



header {
    width: 100%;
    height: 120vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    z-index: 2;

}

header::before {
    content: "";
    position: absolute;
    background-image: url(./assets/images/banner/florest.webp);
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: center 90%;
    background-size: cover;
    opacity: .2;
    width: 100%;
    height: 100%;
}

header .header-content p {
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--font-text2);
}

header .header-content button {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.428) 0px 5px 15px;
}

header .header-content button:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    transform: scale(1.1);
    transition: 1s;
    border: 1px solid #000000;


    
}
.world-character {
    width: 100%;
    position: relative;
}

#bottom-character {
    height: 100%;
    margin: 30px 0 0;
    background-image:url(./assets/images/characters/kids-on-the-bike.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* position: relative; */
}

#top-character {
    height: 400px;
    position: relative;
    background-image: url(./assets/images/characters/inverted-world-monster.svg);
    transform: rotate(180deg) scaleX(-1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: -10px;
    filter: grayscale(100%) brightness(80%);


}





main {
    background-color: var(--character-bottom-image-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 50px 0;
}


main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--page-background) no-repeat,
        url(./assets/images/backgrounds/florest.png) no-repeat;
    background-size: cover;
    z-index: -1;
}

.section-texts {
    max-width: 600px;
    font-size: 1.2rem;
    

}
.video-frame {
    background-color: var(--primary-color);
    
    
}

.video-frame iframe {
    position: relative;
    bottom: 24px;
    left: 24px;
    border: 3px solid #000;
    border-image: linear-gradient(var(--primary-color),var(--primary-color-contrast));
    border-image-slice: 10;
    
}

.video-frame:hover {
    background-color: rgb(194, 0, 0);
    padding: 25px;
    transition: 1s;
    border-radius: 20px;

    iframe {
        border-radius: 20px;
        border: none;
    }  
}


#section-stranger-things-gallery {
    width: 100%;
    display: flex;
    height: 70vh;
    align-items: center;

    background-image: url(./assets/images/backgrounds/lamps.png);
    background-repeat: no-repeat;
    background-position: 110%;
    background-size: 50%;



    
}


.container {
    position: relative;
    right: 150px;
    
}

.container h2 {
    width: 800px;
} 

.gallery-container {
    display: flex;
    gap: 50px;
    width: 100%;

    
    
}
.gallery-image {
    width: 300px;
    height: 250px;
    display: flex;
    outline: 15px solid var( --highlight-color);
    border-radius: 1px;
    
   
    
}

.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid var(--primary-color);
    padding: 2px;
    background-color:rgb(0, 0, 20);
    
    
}


.section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-form h2 {
    width: 800px;
    text-align: center;
    color: var(--primary-color);
}

.section-form p {
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
}
.form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.form-container h3 {
    width: 30%;
    text-align:left ;
    color: var(--highlight-color);
}

.form-container span {
    color: var(--primary-color);
}

.form-container form {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    background-color: var(--primary-color);
    padding: 50px;
    margin: 50px 0 0;

    position: relative;
    
    
    
}


.form-container form input,textarea {
    height: 40px;
    background-color: #000;
    border-radius: 3px;
    
    margin:0 0 20px;
    color: #fff;
    font-size: 1.5rem;
    border: none;

}
.form-container form input {
    border: 2px solid #fff;
}


.form-container textarea {
    height: 100px;
    width: 100%;
    border: 2px solid #fff;
}

.form-container form label {
    font-size: 1.3rem;
    color: #fff;
    margin: 0 0 3px;
}

.form-container form button {
    color: var(--character-top-image-color);
    background-color: var(--highlight-color);
    border: none;
    border-radius: 5px;
    margin: auto;
    width: 50%;
}
.form-container form button:hover {
    transform: scale(1.2);
    transition: 1s;
    border: 1px solid #fff;
    color: var(--primary-color);
}



.background-form {
    background-color:var(--field-background-color);
    position: relative;
    margin-top: 40px;
}
.background-form form {
    position: relative;
    left: 25px;
    bottom: 24px;
    
}


footer {
    width: 100%;
    height: 40vh;
    background-color: var(--footer-background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
   
}

.content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow: hidden;


    p{
        width: 700px;
        text-align: center;
        font-size: 1.2rem;
    }
}


footer::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 250px;
    top: 50px;
    left: -50px;

    background-image: url(assets/images/footer/tape.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateZ(-10deg);
}


footer::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 250px;
    top: 50px;
    right: -50px;
    background-image: url(assets/images/footer/tape.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateZ(10deg);
}

.dark-theme .inverted-element {
    transform: rotate(180deg) scaleX(-1);
}




@media screen and (max-width: 768px){
    header {
        height: 100vh;
    }

    header .header-content img {
        width: 100%;
    }
    header .header p {
        font-size: .8rem;
    }
    header .header-content button {
        width: 80%;
        text-align: center;
    }
    #bottom-character {
        top: 50px;
    }
    #top-character {
        height: 200px;
    }
}