

.container {
    background-color: yellow;
    height: 250px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-template-rows: repeat(2,1fr);

    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    

}
#item {
    border: 1px solid black;
}

.item-1 {
    background-color: aqua;
}

.item-2 {
    background-color: rgb(55, 179, 55);
}

.item-3 {
    background-color: rgb(125, 41, 51);
}

.item-4 {
    background-color: rgb(103, 53, 123);
}

.item-5 {
    background-color: rgb(191, 119, 77);
}

.item-6 {
    background-color: rgb(231, 57, 4);
}

.item-7 {
    background-color: rgb(128, 5, 115);
}