@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: aliceblue;
    width: 70%;
    height: 60%;
    border-radius: 15px;
    
}
.first-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.first-column {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #58af9b;
    border-radius: 10px 0 0 10px;

}
.first-column .title {
    color: aliceblue;
    font-size: 25px;
    font-weight: bolder;
}

.first-column p {
    line-height: 30px;
    color: #fff;
    font-weight: 200;
}

.first-column button {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #Fff;
    background: transparent;
    font-size: 15px;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
}

.first-column button:hover {
    background-color: #fff;
    color: #00c295;
    transform: scale(1.1);
    transition: .8s;
    cursor: pointer;
}

.second-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}
form {
    display: flex;
    flex-direction: column;
}
.second-content {
    position: absolute;
    display: none;
}