@media screen and (max-width:690px) {
    
    .details {
        flex-direction: column;
    }
    .image-card {
        flex-basis: 100px;
    }

}
@media screen and (orientation:landscape) {
    
    body {
        background-color: rgb(200, 248, 200);
    }


}

@media (pointer: fine) {
       .cards:hover {
            padding: 20px;
            transition: 1s;
            cursor: pointer;
            border: 1px solid lightseagreen;

       }

}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: lightgreen;
    text-align: center;
    padding: 60px;

}

header h2 {
    font-size: 1rem;
    font-weight: normal;
}

main {
    padding: 30px;
    text-align: center;
    max-width: 1200;
    margin: auto;
}
h3 {
    text-transform: uppercase;
}

.cards {
    background-color: lightblue;
    border-radius: 5px;
    padding: 15px;
}


.details {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}
img {
    width: 300px ;
    height: 300px;
    object-fit: contain;
}
.image-card {
    background-color: lightblue;
    padding: 10px;
    border: 1px solid #e2e2e2;
    flex-basis: 200px;
}
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 10px;
}