

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: lightcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.container span {
    width: 20px;
    height: 20px;
    background:linear-gradient(to right,rgb(255, 106, 106),rgb(234, 170, 53),rgb(65, 65, 224));
    border-radius: 50%;
    
    
}


.load1 {
    animation: load 1s ease-in-out alternate infinite;
   
}
.load2 {
    animation: load 1s ease-in-out .3s alternate infinite;
    
}
.load3 {
    animation: load 1s ease-in-out .6s alternate infinite;
   
}



@keyframes load {
    0% {
        transform: scale(1.8);
    
    }
    
}