

#primeiro {
    text-transform: uppercase;
    text-align: center;
    text-decoration-style: dashed;
    letter-spacing: 10px;
    word-spacing: 5px;
}

.exemplo {
    background-color: rgb(1, 34, 1);
    width: 200px;
    color: white;

}
span {
    background-color: rgb(50, 118, 50);
    font-size: 20px;
}

#exemplo2 {
    white-space: nowrap;
    writing-mode: vertical-lr;
}
#exemplo3 {
    white-space: pre;
}
#exemplo4 {
    white-space: pre-line;
}