


header {
    height: auto;
    padding: 10px 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header img{
    width: 200px;
    margin-left: 50px;

}

header nav {
    display: flex;
    height: 10vh;
    align-items: center;
    margin-right: 50px;
    width: 400px;
    
    
}

header nav ul {
    display: flex;
    gap: 100px;
    align-items: center;
    list-style: none;    
    
}
header nav ul .button-header {
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
    
}

header nav ul li:nth-child(2) {
    background-color: var(--tertiary-color);
    padding: 10px 30px;
    border-radius: 20px;
}

header nav ul li:nth-child(1):hover {
    text-decoration: 3px solid underline;
    color: var(--tertiary-color);
    transition: .5s;
}

header nav ul li:nth-child(2):hover {
    background-color: transparent;
    border: 2px solid var(--tertiary-color);
    transition: 1s;
}

#home {
    background-color: var(--tertiary-color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-content-home {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
    align-items: center;
}

#gallery-image {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main-content-home h2 {
    font-size: 2.5rem;
    font-family: var(--font-estilo);
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 100;
}
.main-content-home .text-style {
    font-weight: 900;
    display: block;
    font-size: 3rem;
}

.main-content-home .text-value {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    width: 50%;
    text-align: center;
    
}

.main-content-home .text-value span {
    font-size: 2rem;

    font-weight: 900;
    text-align: center;
}

.button-subcribe {
    width: 200px;
    background-image: linear-gradient(var(--primary-color),var(--tertiary-color));
    text-align: center;
    height: 50px;
    text-decoration: none;
    font-size: 1.5rem;

}










@media (max-width:780px) {
    
    header {
        display: flex;
        font-size: .8rem;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 20px;

    }

    header nav {
        display: flex;
        justify-content: center;
        width: 100%;
        align-self: center;
        margin: 20px 0;
        
    }
    

}